NEXT_PUBLIC_API_URL=
SITE_URL=
NEXT_PUBLIC_MOCK_DEPLOYMENT_URL=
NODE_ENV='development'

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"